.footer {
    display: flex;
    justify-content: center;
    height: 1rem;
    background: #fff;
}

.bar {
    flex: 1;
}

.buy {
    flex: 3;
    margin: .1rem;
    background: orangered;
    border-radius: .1rem;
    color: #fff;
}

.bar,
.buy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    color:red;
}