.root{
  display: flex;

  .input-num,.add,.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:.7rem;
    height:.7rem;
    color: #999;
    border:.02rem solid #eee;
  }
  .add,.sub{
    background: #f5f5f5;
    font-size:.4rem;
    font-weight: 900;
  }
  .input-num{
    padding:0 .1rem;
  }
}