.root{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 50;
    bottom: 0;
    height: 1rem;
    border:1px solid #ccc;
}

.bar{
    flex: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}