.root{
    display: flex;
    width: 100%;
    padding: .2rem .3rem;
    border-bottom: 1px solid #ccc;
    background: #fff;
    &:active{
        background: #eee;
    }
    
    .itemImg{
        display: flex;
        width:1.2rem;
        height: 1.2rem;
        align-items: center;
        justify-content: center;
        margin-right: .2rem;
    }

    .itemInfo{
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .itemPay{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        font-size: .34rem;
    }

    .sku{
        font-size: .24rem;
        color: #999;        
    }

    .price{
        font-size: .3rem;
        color:#ff4567;
        &:before{
            content:"￥"
        }
    }

    .nums{
        font-size: .3rem;
        color: #999;
        &::before{
            content: "×"
        }
    }
}