.root {
    display: flex;
    width: 100%;
    background: #fff;
    height: 1.6rem;
    &:active {
        background: #eee;
    }
    .itemImg {
        width: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .1rem;
        img {
            width: 100%;
        }
    }
    .itemInfo {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: 1px solid #ccc;
        padding: .1rem;
    }
    .itemPay {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: .34rem;
    }
    .sku {
        font-size: .24rem;
        color: #999;
    }
    .price {
        font-size: .3rem;
        color: #ff4567;
        &:before {
            content: "￥"
        }
    }
    .nums {
        font-size: .3rem;
        color: #999;
        &::before {
            content: "×"
        }
    }
}