.root{
    display: flex;
    width: 100%;
}

.left{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.right{
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
}