@import "../../public/styles/app.scss";
.root{
    position:absolute 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    .icon{
        font-size:2rem;
        color: #ccc;
        line-height: 1;
    }
    .btn{
        padding: .3rem .5rem;
        margin: .4rem;
        background: $main-color;
        color:#fff;
    }
}