.root {
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 1;
    &:hover {
        color: #1abc9c;
    }
}

.text {
    display: block;
    line-height: 1;
    font-size: .22rem;
}
